@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* container */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name a {
  text-decoration: none;
  color: inherit;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: 50%;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transform: translateY(-50%);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) translateX(10px);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}

.sidebar li a:hover {
  background: #fff;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
}

.form-container {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

form#cadastro-form label,
form#login-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #fff;
}

form#cadastro-form input,
form#login-form input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
}

form#cadastro-form input::placeholder,
form#login-form input::placeholder {
  color: #888;
}

form#cadastro-form button,
form#login-form button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form#cadastro-form button:hover,
form#login-form button:hover {
  background-color: #0056b3;
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
  form#cadastro-form,
  form#login-form {
    padding: 15px;
  }

  form#cadastro-form label,
  form#login-form label {
    margin-bottom: 5px;
  }

  form#cadastro-form input,
  form#login-form input {
    margin-bottom: 15px;
  }
}

@media (max-width: 420px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width: 100vw;
    height: 75px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    transition: height 0.2s ease-in-out;
  }
  .sidebar.open {
    height: 325px;
    width: 100vw;
  }
  .sidebar .nav-list {
    display: block;
    height: auto;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(-20px);
  }
  .sidebar.open .nav-list {
    opacity: 1;
    transform: translateY(0);
  }
  .main {
    padding-top: 20px;
  }
  .sidebar .logo-details #btn.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav-list.hide {
    pointer-events: none;
  }
}

