/* main */
.main {
  grid-area: main;
  padding: 75px;
  gap: 75px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.1fr repeat(4, 1fr);
  grid-template-areas:
    "nome nome nome nome nome"
    "situacao situacao situacao situacao situacao"
    "gerenciamento gerenciamento gerenciamento gerenciamento gerenciamento"
    "quiz quiz quiz quiz quiz"
    "perfil perfil perfil perfil perfil";
  background-color: black;
  color: white;
}

.main .nome {
  grid-area: nome;
}

.main .nome h2 {
  font-weight: 900;
  font-size: 100px;
}

.main .situacao {
  grid-area: situacao;
  display: flex;
}

.dados {
  width: 50%;
  height: 100%;
  padding: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dados h3 {
  width: fit-content;
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
  color: red;
}

.dados p {
  font-weight: 200;
  font-size: 30px;
}

.dados .botao {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 45px;
  width: 200px;
  border-radius: 50px;
  background-color: yellow;
}

.dados .botao a {
  text-decoration: none;
  color: red;
  font-weight: 800;
  font-size: 30px;
}

.tela {
  width: 50%;
  height: 100%;
  background-color: white;
}

.main .gerenciamento {
  grid-area: gerenciamento;
  display: flex;
}

.main .quiz {
  grid-area: quiz;
}

.main .perfil {
  grid-area: perfil;
}

.content {
  width: 100%;
  height: 500vh;
  display: flex;
  align-items: center;
  justify-content: center;
}