@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivus", sans-serif;
}

/* container */
body {
  width: 100vw;
  height: 500vh;
  background-color: black;
  color: white;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(4,1fr) .5fr;
  grid-template-areas:
    "intro intro intro intro intro"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "end end end end end"
    ;
}

/* intro */

.intro{
  grid-area: intro;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro .logo h1{
  font-weight: 900;
  font-size: 200px;
  color: yellow;
}

/* main */
.main {
  grid-area: main;
  padding: 75px;
  gap: 75px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: .1fr repeat(4,1fr);
  grid-template-areas:
    "nome nome nome nome nome"
    "situacao situacao situacao situacao situacao"
    "gerenciamento gerenciamento gerenciamento gerenciamento gerenciamento"
    "quiz quiz quiz quiz quiz"
    "perfil perfil perfil perfil perfil"
    ;
}
.main .nome{
  grid-area: nome;
}
 .main .nome h2{
  font-weight: 900;
  font-size: 100px;
 }

.main .situacao{
  grid-area: situacao;
  display: flex;
  
}
.dados{
  width: 50%;
  height: 100%;
  padding: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dados h3{
  width: fit-content;
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
  color: red;
}
.dados p{
  font-weight: 200;
  font-size: 30px;
}

.tela{
  width: 50%;
  height: 100%;
  background-color: white;
}

.main .gerenciamento{
  grid-area: gerenciamento;
  display: flex;
}

.main .quiz{
  grid-area: quiz;
  display: flex;

}
.main .perfil{
  grid-area: perfil;
  display: flex;
}
/* end */

.end{
  grid-area: end;
}
